body {
margin: 0;
padding: 0;
background: #FFFFEE;
font-size: 12px;
overflow: auto;
font: normal 12px/1.2em "Helvetica Neue", Arial, Helvetica, sans-serif;
}

html, body, #mainDiv, #content{
width: 100%;
height: 100%;
}

#copyright{
clear: both;
text-align: center;
width: 100%;
color: #666;
height: 20px;
font-size: 10px;
display: none;
}

#copyright a{
color: #666;
}

#content{
position: absolute;
}