#loveHeart {
float: left;
width:670px;
height:625px;
}

#garden {
width: 100%;
height: 100%;
}

#elapseClock {
text-align: right;
font-size: 18px;
margin-top: 20px;
margin-bottom: 10px;
}

#words {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
width: 500px;
font-size: 22px;
color:#666;
}

#messages{
display: none;
}

#elapseClock .digit{
font-family: "digit";
font-size: 36px;
}

#loveu{
padding: 5px;
font-size: 22px;
margin-top: 80px;
margin-right: 120px;
text-align: right;
display: none;
}

#loveu .signature{
margin-top: 10px;
font-size: 20px;
font-style: italic;
}

#code {
float: left;
width: 440px;
height: 400px;
color: #333;
font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", "sans-serif";
font-size: 12px;
}

#code .string{
color: #2a36ff;
}

#code .keyword{
color: #7f0055;
font-weight:bold;
}

#code .comments{
color: #3f7f5f;
}

#errorMsg{
width: 100%;
text-align: center;
font-size: 24px;
position: absolute;
top: 100px;
left:0px;
}

#links{
position: absolute;
display: none;
}

#create_link, #top_pages{
font-size: 20px;
width: 160px;
height: 30px;
line-height:30px;
background-color: #f0f0f0;
color: #666;
padding: 8px;
border: 1px solid #ccc;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
text-align: center;
margin-top: 10px;
}

#create_link:hover, #top_pages:hover{
-moz-box-shadow:0 0 10px rgba(82,168,236,0.5);
-webkit-box-shadow:0 0 10px rgba(82,168,236,0.5);
box-shadow:0 0 10px rgba(82,168,236,0.5);
border-color:rgba(82,168,236,0.75)!important;
color: #333;
cursor: pointer;
}
